@if (pageData$ | async; as pageData) {
  <header class="header--level-one">
    <div>
      <h1 class="display-high">{{pageData.header.title}}</h1>
      <p class="body-low-default">{{pageData.header.description}}</p>
    </div>
  </header>
  <main class="main main--columns">
    @for (section of pageData.sections; track section) {
      <section>
        <!--TYPE: text-image-->
        @if (section.type === 'text-image') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <div class="col__content" [innerHTML]="section.text"></div>
            </div>
            <div class="col">
              <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
              @if (section.imgText) {
                <p>{{section.imgText}}</p>
              }
            </div>
          </div>
        }
        <!--TYPE: image-full-->
        @if (section.type === 'image-full') {
          @if (section.textBefore) {
            <div class="row row-cols-1 row-cols-sm-2">
              <div class="col">
                <div class="col__content" [innerHTML]="section.textBefore"></div>
              </div>
            </div>
          }
          <div class="col__content">
            <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
            @if (section.imgText) {
              <p><span>{{section.imgText}}</span></p>
            }
            @if (section.textAfter) {
              <div [innerHTML]="section.textAfter"></div>
            }
          </div>
        }
      </section>
    }
  </main>
  <app-footer />
}