@if (pageData$ | async; as pageData) {
  <header class="header--level-two">
    <div>
      <h1 class="display-high">{{pageData.header.title}}</h1>
      <p class="body-low-default">{{pageData.header.description}}</p>
    </div>
    <div class="header__image" [style]="backgroundImage"></div>
  </header>
  <main class="main main--columns">
    @for (section of pageData.sections; track section) {
      <section>
        <!--TYPE: text-image-->
        @if (section.type === 'text-image') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <div class="col__content" [innerHTML]="section.text"></div>
            </div>
            <div class="col">
              <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
              @if (section.imgText) {
                <p>{{section.imgText}}</p>
              }
            </div>
          </div>
        }
        <!--TYPE: text-column-->
        @if (section.type === 'text-column') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <div class="col__content" [innerHTML]="section.text"></div>
            </div>
            <div class="col"></div>
          </div>
        }
        <!--TYPE: table-->
        @if (section.type === 'table') {
          <div class="col__content">
            @if (section.heading) {
              <h3 class="title-high">{{section.heading}}</h3>
            }
            <table mat-table [dataSource]="section.data">
              @for (col of section.cols; track col) {
                <ng-container [matColumnDef]="col.id">
                  <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
                  <td mat-cell *matCellDef="let element" [innerHTML]="element[col.id]"></td>
                </ng-container>
              }
              <tr mat-header-row *matHeaderRowDef="section.displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: section.displayedColumns;"></tr>
            </table>
          </div>
        }
        <!--TYPE: list-column-->
        @if (section.type === 'list-column') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <div class="col__content">
                <div [innerHTML]="section.text"></div>
                <ul class="link-list">
                  @for (item of section.items; track item) {
                    <li class="link-list__item">
                      @if (item.link.startsWith('/')) {
                        <a mat-icon-button color="primary" [routerLink]="item.link" aria-label="label">
                          <mat-icon [svgIcon]="item.icon"></mat-icon>
                        </a>
                      }
                      @if (!item.link.startsWith('/')) {
                        <a mat-icon-button color="primary" [href]="item.link" target="_blank" aria-label="label">
                          <mat-icon [svgIcon]="item.icon"></mat-icon>
                        </a>
                      }
                      <span [innerHTML]="item.text"></span>
                    </li>
                  }
                </ul>
              </div>
            </div>
            <div class="col"></div>
          </div>
        }
      </section>
    }
  </main>
  <app-footer />
}