<footer>
  <div>
    <div class="footer__content">
      <div class="footer__about">
          <img src="./assets/boeing-lettermark_Navigation_dark.svg" alt="Boeing logomark" class="display-dark" />
          <img src="./assets/boeing-lettermark_Navigation_light.svg" alt="Boeing logomark" class="display-light" />
          <p>In support of digital-first customer engagement DAS Design is building a practice to research, design and measure all customer interactions, to meet or exceed customer expectations and increase customer satisfaction and loyalty.</p>
      </div>
      <div class="footer__links">
        <div>
          <ul>
              <li><a routerLink="/das/home">Home</a></li>
              <li><a routerLink="/das/design-thinking">Design thinking</a></li>
              <li><a routerLink="/das/design-standards">Design standards</a></li>
              <li><a routerLink="/das/research">Research</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a routerLink="/das/analytics">Analytics</a></li>
            <li><a routerLink="/das/tools">Tools</a></li>
            <li><a routerLink="/das/careers-and-training">Careers and training</a></li>
            <li><a routerLink="/das/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>