@import '@design/dls-global-assets/dist/scss/base/_variables.scss';
@import '@design/dls-global-assets/dist/scss/base/_compositionMixins.scss';
@import '@design/dls-global-assets/dist/scss/base/_typographyMixins.scss';

header {
  display: flex;
  min-height: 370px;
  padding: $size-relaxed-spacing-s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  text-align: center;
  > div {
    display: flex;
    padding: $size-relaxed-spacing-none $size-relaxed-spacing-3xl;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $size-relaxed-spacing-xl;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: $size-relaxed-radius-xl;
    background: url('../../../assets/images/home-header-dark@3x.png') 50% / cover no-repeat;
    @include composition-dark-ui-glass-background-blur;
    .theme-light & {
      @include composition-light-ui-glass-background-blur;
      background: url('../../../assets/images/home-header-light@3x.png') 50% / cover no-repeat;
    }

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $size-relaxed-spacing-2xl;
    }
  }
  
}
