<footer>
  <div>
    <div class="footer__content">
      <div class="footer__about">
          <img src="./assets/images/atmosphere-logomark.svg" alt="Atmosphere logomark" />
          <p>Atmosphere is a flexible design system that supports product design across the Boeing ecosystem. It equips designers and developers with best practices, pre-built components, and helpful tools to create consistent and beautiful user experiences.</p>
          <p>Atmosphere is developed by DAS Design, in collaboration with the Platform team and DAS Digital Training and Documentation.</p>
      </div>
      <div class="footer__links">
        <div>
        <h5 class="body-low-default">Contact</h5>
        <ul>
            <li><a routerLink="/contact/contribute">How to contribute</a></li>
            <li><a routerLink="/contact/request-component">New component request</a></li>
            <li><a routerLink="/contact/report-bug">Report a bug</a></li>
        </ul>
        </div>
        <div>
        <h5 class="body-low-default">Libraries</h5>
        <ul>
            <li><a href="https://git.web.boeing.com/design/design-system/dls-global-assets" target="_blank">GitLab: Global Assets</a></li>
            <li><a href="https://git.web.boeing.com/design/design-system/dls-angular" target="_blank">GitLab: Global Angular</a></li>
            <li><a href="https://www.figma.com/design/lKCK94JMIgRl52nWS2IB5G/Atmosphere-Foundations-and-Components-Library-1.0"  target="_blank">Figma Foundations &amp; Components</a></li>
            <li><a href="https://www.figma.com/design/aEF6NeIfFACLIXJ7srSvax/Atmosphere-Icons-Library-1.0"  target="_blank">Figma Icons</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
