@if (pageData$ | async; as pageData) {
  <header class="header--level-one">
    <div>
      <h1 class="display-high">{{pageData.header.title}}</h1>
      <p class="body-low-default">{{pageData.header.description}}</p>
    </div>
  </header>
  <main class="main main--columns">
    @for (section of pageData.sections; track section) {
      <section>
        <!--TYPE: list-image-->
        @if (section.type === 'list-image') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <div class="col__content">
                <div [innerHTML]="section.text"></div>
                <ul class="link-list">
                  @for (item of section.items; track item) {
                    <li class="link-list__item">
                      @if (item.link.startsWith('/')) {
                        <a mat-icon-button color="primary" [routerLink]="item.link" aria-label="label">
                          <mat-icon [svgIcon]="item.icon"></mat-icon>
                        </a>
                      }
                      @if (!item.link.startsWith('/')) {
                        <a mat-icon-button color="primary" [href]="item.link" target="_blank" aria-label="label">
                          <mat-icon [svgIcon]="item.icon"></mat-icon>
                        </a>
                      }
                      <span [innerHTML]="item.text"></span>
                    </li>
                  }
                </ul>
              </div>
            </div>
            <div class="col">
              <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
              @if (section.imgText) {
                <p>{{section.imgText}}</p>
              }
            </div>
          </div>
        }
        <!--TYPE: image-list-->
        @if (section.type === 'image-list') {
          <div class="row row-cols-1 row-cols-sm-2">
            <div class="col">
              <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
              @if (section.imgText) {
                <p>{{section.imgText}}</p>
              }
            </div>
            <div class="col">
              <div class="col__content">
                <div [innerHTML]="section.text"></div>
                <ul class="link-list">
                  @for (item of section.items; track item) {
                    <li class="link-list__item">
                      @if (item.link.startsWith('/')) {
                        <a mat-icon-button color="primary"
                          [routerLink]="item.link" aria-label="label"> <mat-icon [svgIcon]="item.icon"></mat-icon> </a>
                        }
                        @if (!item.link.startsWith('/')) {
                          <a mat-icon-button color="primary" [href]="item.link" target="_blank" aria-label="label"> <mat-icon
                          [svgIcon]="item.icon"></mat-icon> </a>
                        }
                        <span [innerHTML]="item.text"></span>
                      </li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          }
        </section>
      }
    </main>
    <app-footer />
  }