<ng-container *ngIf="pageData$ | async as pageData">

  <header class="header--level-two">
    <div>
      <h1 class="display-high">{{pageData.header.title}}</h1>
      <p class="body-low-default">{{pageData.header.description}}</p>
    </div>
    <div class="header__image" [style]="backgroundImage"></div>
  </header>

  <main class="main main--columns">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">

      <mat-tab *ngFor="let tab of pageData.tabs" [label]="tab.label">

        <ng-template matTabContent>

          <section *ngFor="let section of tab.sections">

            <!--TYPE: list-->
            <ng-container *ngIf="section.type === 'list'">
              <div class="row row-cols-1 row-cols-sm-2">
                <div class="col">
                  <ul class="intro-list">
                    <li *ngFor="let item of section.items"><mat-icon svgIcon="icon-label"></mat-icon><span
                        [innerHTML]="item"></span></li>
                  </ul>
                </div>
              </div>
            </ng-container>

            <!--TYPE: text-column-->
            <ng-container *ngIf="section.type === 'text-column'">
              <div class="row row-cols-1 row-cols-sm-2">
                <div class="col">
                  <div class="col__content" [innerHTML]="section.text"></div>
                </div>
                <div class="col"></div>
              </div>
            </ng-container>

            <!--TYPE: image-full-->
            <ng-container *ngIf="section.type === 'image-full'">
              <div class="row row-cols-1 row-cols-sm-2" *ngIf="section.textBefore">
                <div class="col">
                  <div class="col__content" [innerHTML]="section.textBefore"></div>
                </div>
              </div>
              <div class="col__content">
                <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
                <div *ngIf="section.textAfter" [innerHTML]="section.textAfter"></div>
              </div>
            </ng-container>

            <!--TYPE: text-image-->
            <ng-container *ngIf="section.type === 'text-image'">
              <div class="row row-cols-1 row-cols-sm-2">
                <div class="col">
                  <div class="col__content" [innerHTML]="section.text"></div>
                </div>
                <div class="col">
                  <img class="img-fluid" [src]="section.imgSrc" [alt]="section.imgAlt" />
                  <p *ngIf="section.imgText">{{section.imgText}}</p>
                </div>
              </div>
            </ng-container>

                <!--TYPE: text-table-->
                <ng-container *ngIf="section.type === 'text-table'">
                  <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col">
                      <div class="col__content" [innerHTML]="section.text"></div>
                    </div>
                    <div class="col">
                      <table mat-table [dataSource]="section.data">
                        <ng-container *ngFor="let col of section.cols" [matColumnDef]="col.id">
                          <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
                          <td mat-cell *matCellDef="let element" [innerHTML]="element[col.id]"></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="section.displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: section.displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>
                </ng-container>
    
                <!--TYPE: table-->
                <ng-container *ngIf="section.type === 'table'">
                  <div class="col__content">
                    <h3 class="title-high" *ngIf="section.heading">{{section.heading}}</h3>
                    <table mat-table [dataSource]="section.data">
                      <ng-container *ngFor="let col of section.cols" [matColumnDef]="col.id">
                        <th mat-header-cell *matHeaderCellDef> {{col.label}} </th>
                        <td mat-cell *matCellDef="let element" [innerHTML]="element[col.id]"></td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="section.displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: section.displayedColumns;"></tr>
                    </table>
                  </div>
                </ng-container>
    
                <!--TYPE: annotated image-->
                <ng-container *ngIf="section.type === 'image-annotated'">
                  <div class="row row-cols-1" [class.row-cols-sm-2]="section.images.length === 2" [class.row-cols-sm-3]="section.images.length > 2">
                    <div class="col" *ngFor="let image of section.images">
                      <img class="img-fluid image--annotated" [src]="image.imgSrc" [alt]="image.imgAlt"/>
                      <div class="image-annotation" [class]="image.type === 'warning' ? 'image-annotation--warning' : (image.type === 'error' ? 'image-annotation--error' : 'image-annotation--success')">
                        <mat-icon [svgIcon]="image.type === 'warning' ? 'icon-warning' : (image.type === 'error' ? 'icon-close' : 'icon-check')"></mat-icon><span>{{ image.type === 'warning' ? 'Caution' : (image.type === 'error' ? 'Don’t' : 'Do') }}</span>
                      </div>
                      <p>{{image.text}}</p>
                    </div>
                  </div>
                </ng-container>

          </section>

        </ng-template>

      </mat-tab>

    </mat-tab-group>

  </main>

  <app-footer />

</ng-container>